@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
			url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
			url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
			url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
			url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Light.eot');
	src: url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
			url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
			url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.eot');
	src: url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
			url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
			url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Bold.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
			url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
			url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Light.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Comfortaa/Comfortaa-Light.woff2') format('woff2'),
			url('../fonts/Comfortaa/Comfortaa-Light.woff') format('woff'),
			url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Medium.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Medium.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Comfortaa/Comfortaa-Medium.woff2') format('woff2'),
			url('../fonts/Comfortaa/Comfortaa-Medium.woff') format('woff'),
			url('../fonts/Comfortaa/Comfortaa-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2'),
			url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
			url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 16px;
	color: #000;
	font-family: 'Comfortaa';
	font-style: normal;
}
.container.home.head {
	background: url('../images/back-home.png') 100% 100% no-repeat;
	background-size: 53%;
	background-position: left top;
	height: 880px;
}
.header {
	margin-top: 1rem;
}
.header ul.socnet {
	display: flex;
	margin-bottom: 0.5rem;
}
.header ul.socnet li {
	list-style-type: none;
	width: 20px;
	height: 20px;
	margin-right: 1.5rem;
}
.header ul.socnet li:last-child {
	margin-right: 0;
}
.header ul.socnet li a {
	display: inline-block;
}
.header .mode {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.header .phone a {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #000;
}
.hamburger {
	margin-bottom: 4px;
	margin-left: auto;
	width: 40px;
}
  
.hamburger-line {
	width: 100%;
	height: 3px;
	background-color: #BC8686;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
.hamburger-line:nth-child(2){
		margin: 8px 0;
		width: 75%;
}
.hamburger:hover{
	cursor: pointer;
}

.hamburger-active .hamburger-line:nth-child(2){
	opacity: 0;
}

.hamburger-active .hamburger-line:nth-child(1){
	-webkit-transform: translateY(11px) rotate(35deg);
	-ms-transform: translateY(11px) rotate(35deg);
	-o-transform: translateY(11px) rotate(35deg);
	transform: translateY(11px) rotate(35deg);
}

.hamburger.hamburger-active .hamburger-line:nth-child(3){
	-webkit-transform: translateY(-11px) rotate(-35deg);
	-ms-transform: translateY(-11px) rotate(-35deg);
	-o-transform: translateY(-11px) rotate(-35deg);
	transform: translateY(-11px) rotate(-35deg);
}
@media (min-width: 1200px) {
	.container.home.head {
		max-width: 1600px;
	}
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px;
	}
}